.git
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg-info/
dist/
build/
.DS_Store
.env
.env.local
*.log
*.pot
.coverage
htmlcov/
.tox/
.idea/
.vscode/
*.swp
*.swo
*~
.mypy_cache/
.dmypy.json
dmypy.json
node_modules/
