[Unit]
Description=Sentinels
After=syslog.target
After=network-online.target

[Service]
User=root
Type=oneshot
RemainAfterExit=yes
Restart=always
ExecStart=<VIRTUAL_ENV_PATH>/bin/sentinelsd --start
ExecStop=<VIRTUAL_ENV_PATH>/bin/sentinelsd --stop

[Install]
WantedBy=multi-user.target
