recursive-include sentinels/data *
recursive-include sentinels/modules/data *

recursive-exclude sentinels/test *
recursive-exclude .github *
recursive-exclude docs *

exclude Dockerfile.latest
exclude Dockerfile.*
exclude docker-compose.yml
exclude .gitignore
